@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  color: white;
}
body {
  background-color: white;
}
.highblock {
  display: flex;
  width: 100vw;
  min-height: 500px;
  height: 80vh;
}
.logo {
  max-height: fit-content;
  position: absolute;
}
.backimage {
  height: 80vh;
  width: 80vw;
  justify-content: center;
  margin: 1px auto 1px auto;
}
.backgr-films {
  width: 80vw;
  height: 70vh;
  justify-content: center;
}
.title {
  border: solid;
  border-color: aqua;
  position: absolute;
  justify-content: center;
  margin-left: 45vw;
  margin-top: 60vh;
  font-weight: 400;
  font-size: large;
}
/* .backImage {
  background-image: url("/src/img/Sub_Container.png");
  width: 80%;
  height: 60%;
  margin: 1px 2px 2px 2px;
  overflow: hidden;
  display: flex;
  z-index: 0;
  position: relative;
}
.backImage img {
}
.backImage::before {
  content: "";
  display: flex;
  margin: auto;
  position: absolute;
  height: 80%;
  width: 100%;
  z-index: 1;
  background: #f7f2f2;
  background: radial-gradient(
    circle,
    rgba(247, 242, 242, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.logo {
  height: 7em;
  margin-top: 0.5em;
  margin-left: 10em;
  z-index: 1;
  position: absolute;
} */
.menu {
  display: flex;
  justify-content: center;
  width: 35em;
  height: 4.5em;
  background-color: black;
  margin: 1.5em auto 1.5em auto;
  border-radius: 1em;
  z-index: 1;

  ul {
    display: flex;
    list-style: none;
    li {
      padding: 1.5em 0.75em 1.5em 0.75em;
    }
  }
}
/* .title {
  z-index: 1;
  margin: auto;
  position: absolute;
} */
