@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  color: white;
}
body {
  background-color: black;
}
.highblock {
  display: flex;
  /* width: 100vw; */
  min-height: 500px;
  height: 80vh;
  justify-content: center;
}
.logo {
  max-height: fit-content;
  position: absolute;
}
.backimage {
  justify-content: center;
  margin: auto;
}
.backgr-films {
  width: 85vw;
  height: 70vh;
  justify-content: center;
}
.title {
  position: fixed;
  justify-content: center;
  top: 80%;
  font-size: 3.6rem;
  font-weight: bold;
}

.backImage::before {
  content: "";
  display: flex;
  position: absolute;
  height: 70%;
  width: 86%;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 74%
  );
}
.logo {
  height: 7em;
  margin-top: 0.5em;
  margin-left: 10em;
  z-index: 1;
  position: absolute;
}
.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  justify-content: center;

  ul {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid rgba(61, 60, 60, 0.5);
    margin: 1.5em auto 1.5em auto;
    border-radius: 1em;
    z-index: 1;
    display: flex;
    list-style: none;
    li {
      padding: 1.5em 0.75em 1.5em 0.75em;
    }
  }
}
.cat_infoBlock {
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  width: 60vw;
  /* border: solid; */
  /* border-color: aqua; */
  line-height: 15px;

  .cat_text{
  /* border: solid red; */
  width: 65%;
  }
  .cat_sliderArrows{
  display: flex;
  /* border: solid green; */
  width: 30%;
  }
  .cat_subtext{
  color: #999999
  }
}

.categories_buttons{
  display: flex;
  flex-direction: row;
  /* border: solid purple; */
  width: 65%;
  margin: auto;
  justify-content: space-evenly;
}
.action{
  /* border: solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
}
.action img{
  flex: 1;
  width: 5vw;
  box-sizing: border-box;
}
/* .button_pics {
  width: 150px;
} */

/* .title {
  z-index: 1;
  margin: auto;
  position: absolute;
} */
